.navigationWrap .goodsClass .goodsWrapBox{
    display: none;
}

.banner{
    display: block;
    width: 100%;
    height: 43.066666rem;
}

.meetFutureHome{
    width: 80rem;
    margin: 0 auto;
    .title{
        margin: 2.666666rem 0 0 0;
        span{
            display: block;
            width: 26.4rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            font-size: 1.333333rem;
            cursor: pointer;
            float: left;
            margin-right: 0.4rem;
        }
        .gray{
            color: #333333;
            background: #E6E6E6;
        }
        .red{
            color: #FFFFFF;
            background: #cd2f1d;
        }
    }
    .subtitle{
        span{
            display: inline-block;
            width: 13.333333rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            background: red;
            float: left;
            font-size: 1.333333rem;
            cursor: pointer;
            opacity: .8;
        }
        .gray{
            color: #333333;
            background: #FFF;
        }
        .red{
            color: #FFFFFF;
            background: #cd2f1d;
        }
    }
}

.designSketchWrap{
        .designSketch{
            padding: 3.333333rem 0;
            background: #fff;
            .swiper-container{
                width: 80rem;
                height: 46.666666rem;
                .swiper-slide{
                    display: block;
                    width: 57.533333rem;
                    height: 46.666666rem;
                    margin: 0 auto;
                    img{
                        display: block;
                        width: 57.533333rem;
                        height: 46.666666rem;
                        margin: 0 auto;
                    }
                }
            }
        }
        .seeMoreGoods{
            margin-top: 2rem;
        }
}

.knowFutureHome{
    width: 80rem;
    margin: 0 auto;
    ul{
        margin-top: 2.666666rem;
    }
    li{
        float: left;
        width: 25.333333rem;
        height: 25.333333rem;
        margin-right: 2rem;
    }
    a{
        display: inline-block;
        width: 100%;
        height: 25.333333rem;
    }
    img{
        display: inline-block;
        width: 25.333333rem;
        height: 25.333333rem;
    }
}

.customFurniture{
    width: 80rem;
    margin: 0 auto 3.333333rem;
    img{
        display: block;
        width: 80rem;
        height: 40rem;     
        margin-top: 2.666666rem;   
    }
    .seeMoreGoods{
        margin-top: 2rem;
    }
}
