.zjypMain{
    img{
        display: block;
        width: 100%;
    }
    .banner{
        height: 43.066666rem;
    }
    .bg_1,.bg_2,.bg_3{
        height: 40.666666rem;
    }
}

.navigationWrap .goodsClass .goodsWrapBox{
    display: none;
}
