<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>加入购物车</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/addShoppingCart.css" />
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	
	<div class="loginWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="shoppingCartMain">
			<div class="goodsTop">
				<p class="tip" v-if="addShoppingType">
					<img src="images/addSucc.png"/>
					商品已成功加入购物车！
				</p>
				<div class="clearfix goodsBox">
					<div class="lFloat">
						<img :src="goodsPic" alt="" class="lFloat" />
						<div class="lFloat goodsDetail">
							<p class="goodsName">{{goodsArr.goods_name}}</p>
							<div class="lFloat" v-for="item in newAttrInfo">
								<p v-for="i in item" class="lFloat">
									<span>{{i.attr_name}}</span>：
									<span v-for="y in item">
										<em v-for="p in y.attr_info">
											<i v-if="p.is_select==1">{{p.attr_value}}</i>
										</em>
									</span>
								</p>
							</div>
							<p class="lFloat shoppingNum">
								<span>数量：{{shoppingNum}}</span>
							</p>
						</div>
					</div>
					<div class="rFloat btnWrap">
						<a :href="toGoodsPage" class="searchGoodsDetail" target="_blank">查看商品详情</a>
						<a href="shoppingCart.html" class="goShoppingCart">去购物车结算</a>
					</div>
				</div>
			</div>
			
			<!--猜你喜欢-->
			<div class="guessLove">
				<h3 class="title">猜你喜欢</h3>
				<ul class="clearfix">
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li style="margin-right: 0;">
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
					<li style="margin-right: 0;">
						<a href="#">
							<img src="images/spsx_eg_pic.png"/>
							<p class="msg">
								<span class="money"><i>¥</i>2999.00</span>
								<span class="info">日式榻榻米 储物收纳床 榻榻米定制 全屋家具定制</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/addShoppingCart.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>