<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>申请售后</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/applyAfterSale.css" />
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

		<div class="loginWrap">
			<div class="loginMain">
				<header class="loginHeadWrap toPage">
					<div class="loginHead">
						<a :href="toPagesArr.index">
							<img src="images/logo.png" class="logo" />
						</a>
						<h2>个人中心</h2>
					</div>
				</header>

				<div class="orderTop">
					<p class="title">申请售后</p>
					<p class="orderMsg">
						<span>订单号：789456123</span>
						<span>2018-9-6 08:23</span>
					</p>
				</div>
				<div class="content">
					<div class="goodsInfo clearfix">
						<span class="lFloat title">退货退款商品：</span>
						<div class="lFloat cont">
							<img src="images/eg.jpg" class="lFloat"/>
							<div class="lFloat">
								<p>欧玥（ouyue） 电视柜 现代简约电视柜伸缩电视柜茶几组合套装田园液晶客厅电视柜 小户型125-240长*30宽*35高</p>
								<p class="color">颜色：蓝色</p>
								<p class="specifications">规格：三人位+脚踏(1.8米)</p>
								<p class="money">¥1200.00</p>
							</div>
						</div>
					</div>
					<div class="goodsInfo clearfix">
						<span class="lFloat title">退货退款原因：</span>
						<select name="">
							<option value="">请选择</option>
							<option value="商品描述的尺寸与实物不符">商品描述的尺寸与实物不符</option>
							<option value="我不想要了">我不想要了</option>
							<option value="商品破损/污渍">商品破损/污渍</option>
							<option value="做工问题">做工问题</option>
						</select>
					</div>
					<div class="goodsInfo clearfix returAmount">
						<span class="lFloat title">退货金额：</span>
						<input type="text" placeholder="请填写金额" />
						<span class="tip">最多可退1988.00元，含发货邮费0.00元</span>
					</div>
					<div class="goodsInfo clearfix">
						<span class="lFloat title">退款金额说明：</span>
						<textarea name="" rows="" cols="">退款说明</textarea>
					</div>
					<div class="goodsInfo clearfix uploadPic">
						<span class="lFloat title">上传图片：</span>
						<div class="lFloat">
							<img src="images/eg.jpg"/>
							<img src="images/uploadPic.png"/>
							<input type="file" name="" id="" value="" />
						</div>
					</div>
					<div class="goodsInfo submit">
						<span class="lFloat title" style="opacity: 0;">上传图片：</span>
						<button>提交</button>
					</div>
				</div>
			</div>
			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/applyAfterSale.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>