<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>城市合伙人</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/cityPartner.css" />
	</head>

	<body>
		<div class="zjypWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="zjypMain">
				<img src="images/cityPartner_bg_1.png" class="bg_1" />
				<img src="images/cityPartner_bg_2.png" class="bg_2" />
				<img src="images/cityPartner_bg_3.png" class="bg_2" />
				<img src="images/cityPartner_bg_4.png" class="bg_2" />
				<img src="images/cityPartner_bg_5.png" class="bg_2" />
				<img src="images/cityPartner_bg_6.png" class="bg_2" />
				<img src="images/cityPartner_bg_7.png" class="bg_2" />

				<div class="cityPartnerForm clearfix">
					<div class="lFloat leftText">
						<div class="text">
							<p>
								我们非常期待具有或能够组建高效、强有力的内容与销售团队的公司或个人，
							</p>
							<p>
								加入筑家优品，与我们共同发展，共创辉煌，共享收获。
							</p>
						</div>
						
						<div class="phone">
							<img src="images/cityPhone.png"/>
							400-888-8888
						</div>
					</div>
					<div class="lFloat rightForm">
						<p>
							<span>姓名</span>
							<input type="text" name="" id="" value="" />
						</p>
						<p>
							<span>联系方式</span>
							<input type="text" name="" id="" value="" />
						</p>
						<p>
							<span>邮箱</span>
							<input type="text" name="" id="" value="" />
						</p>
						<p>
							<span>资源优势</span>
							<input type="text" name="" id="" value="" />
						</p>
						<p>
							<span>您想合伙的城市</span>
							<input type="text" name="" id="" value="" />
						</p>
						<p>
							<span></span>
							<button>立即申请</button>
						</p>
					</div>
				</div>
			</div>

			<%-include footer  %>
		</div>

		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cityPartner.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>