<!--公共尾部-->
<footer class="pageFooter">
	 <div class="footer clearfix">
		 	<ul>
	 		<li><h3>新手上路</h3></li>
	 		<li><a href="#">注册指南</a></li>
	 		<li><a href="#">用户协议</a></li>
	 		<li><a href="#">预约引导</a></li>
		 </ul>
		 
		 <ul>
	 		<li><h3>服务保障</h3></li>
	 		<li><a href="#">售后服务</a></li>
	 		<li><a href="#">正品保证</a></li>
	 		<li><a href="#">常见问题</a></li>
	 		<li><a href="#">免责申明</a></li>
		 </ul>
		 
		 <ul>
		 	<li><h3>免费服务</h3></li>
		 	<li><a href="#">免费测量设计</a></li>
		 	<li><a href="#">免费3D设计</a></li>
		 	<li><a href="#">免费送货上门</a></li>
		 	<li><a href="#">免费安装服务</a></li>
		 </ul>
		 
		 <ul class="contact">
		 	<li><h3>关于我们</h3></li>
		 	<li><h3>联系我们</h3></li>
		 </ul>
		 
		 <ul style="margin-right: 0;" class="ewCodeWrap">
		 	<li><h3>手机筑家</h3></li>
		 	<li><img src="images/erCode.png"/></li>
		 </ul>
	 </div>
	 
	 <div class="copyRight">
	 	<p>CopyRight © 筑家优品 沪ICP备17040405号-1</p>
	 </div>
</footer>