<!--公共尾部-->
<footer class="pageFooter">
	<div class="footerTop">
		<p class="title">合作伙伴</p>
		<ul class="clearfix">
			<li><img src="images/PartnerLogo/txjj.png"/></li>
			<li><img src="images/PartnerLogo/xljj.png"/></li>
			<li><img src="images/PartnerLogo/gjjj.png"/></li>
			<li><img src="images/PartnerLogo/ftx.png"/></li>
			<li><img src="images/PartnerLogo/czlcm.png"/></li>
			<li><img src="images/PartnerLogo/qgz.png"/></li>
			<li style="margin-right: 0;"><img src="images/PartnerLogo/qj.png"/></li>
			<li><img src="images/PartnerLogo/hcjjw.png"/></li>
			<li><img src="images/PartnerLogo/yjw.png"/></li>
			<li><img src="images/PartnerLogo/wyjj.png"/></li>
			<li><img src="images/PartnerLogo/kjl.png"/></li>
			<li><img src="images/PartnerLogo/zhdbw.png"/></li>
			<li><img src="images/PartnerLogo/tbt.png"/></li>
			<li style="margin-right: 0;"><img src="images/PartnerLogo/yjg.png" /></li>
		</ul>
	</div>
	
	 <div class="footer clearfix">
		 <div class="linkHref lFloat">
		 	<ul>
		 		<li><h3>全国客服热线</h3></li>
		 		<li class="phoneNum">400-0626808</li>
		 		<li class="wholeCountry"><a href="#">查看全国实体店</a></li>
			 </ul>
			 
		 	<ul>
		 		<li><h3>购物指南</h3></li>
		 		<li><a href="freeRegist.html">免费注册</a></li>
		 		<li><a href="shoppingProcess.html">购物流程</a></li>
		 		<li><a href="helpCenter.html">帮助中心</a></li>
			 </ul>
			 
			 <ul>
		 		<li><h3>服务保障</h3></li>
		 		<li><a href="afterSalePolicy.html">售后政策</a></li>
		 		<li><a href="#">退换货办理</a></li>
		 		<li><a href="furnitureMaintenance.html">家具保养</a></li>
			 </ul>
			 
			 <ul>
			 	<li><h3>配送服务</h3></li>
			 	<li><a href="#">物流配送</a></li>
			 	<li><a href="#">配送范围	</a></li>
			 	<li><a href="receiptGuide.html">收货指南</a></li>
			 </ul>
			 
			 <ul class="contact">
			 	<li><h3>关于我们</h3></li>
			 	<li><h3>联系我们</h3></li>
			 </ul>
		 </div>
		 
		 <div class="ewCodePic rFloat">
			 <ul class="ewCodeWrap">
			 	<li><h3>微信公众号</h3></li>
			 	<li><img src="images/erCode.png"/></li>
			 </ul>
			 
			 <ul style="margin-right: 0;" class="ewCodeWrap">
			 	<li><h3>官方客服</h3></li>
			 	<li><img src="images/erCode.png"/></li>
			 </ul>
		 </div>
	 </div>
	 
	 <div class="copyRight">
	 	<p>CopyRight © 筑家优品 沪ICP备17040405号-1</p>
	 </div>
</footer>