<!--公共头部-->
<header class="pageHeader">
	<div class="container clearfix">
		<p class="lFloat">
			<span class="welcome">筑家优品欢迎你</span> 
			<a href="login.html" class="login">登录</a>
			<span class="line">|</span>
			<a href="register.html" class="register">注册</a>
		</p>
		<p class="rFloat"><a href="personCenter.html" class="personCenter">个人中心</a></p>
	</div>
</header>