<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>筑家优品</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

		<div class="indexWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="indexPage">
				<div class="swiper-container">
					<div class="banner swiper-wrapper">
						<div class="swiper-slide"><img src="images/banner_1.png" /></div>
						<div class="swiper-slide"><img src="images/banner_2.png" /></div>
						<div class="swiper-slide"><img src="images/banner_3.png" /></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<ul class="according clearfix">
					<li class="layout" v-if="!accordingLayout" @click="layoutClick()">
						<img src="images/layout_1.png" /> 按户型
					</li>

					<li class="layout chose" v-if="accordingLayout">
						<img src="images/layout_2.png" /> 按户型
					</li>

					<li class="styles" v-if="!accordingStyles" @click="stylesClick()">
						<img src="images/styles_1.png" /> 按风格
					</li>

					<li class="styles chose" v-if="accordingStyles">
						<img src="images/styles_2.png" /> 按风格
					</li>

					<li class="functions" v-if="!accordingFunctions" @click="funsClick()">
						<img src="images/functions_1.png" /> 按功能
					</li>

					<li class="functions chose" v-if="accordingFunctions">
						<img src="images/functions_2.png" /> 按功能
					</li>
				</ul>

				<ul class="accordingContent clearfix">
					<li>
						<a href="#"><img src="images/eg.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="images/eg.jpg" /></a>
					</li>
					<li>
						<a href="#"><img src="images/eg.jpg" /></a>
					</li>
					<li style="margin-right: 0;">
						<a href="#"><img src="images/eg.jpg" /></a>
					</li>
				</ul>

				<!--热卖推荐-->
				<div class="hotSellersWrap">
					<div class="hotSellers recommendHeadlines">
						<span class="lLine"></span>
						<h2>热卖推荐</h2>
						<span class="rLine"></span>
						<p class="subtitle">HOT SALE RECOMMENDATION</p>
					</div>
					<div class="hotChoseBtn clearfix">
						<div class="rFloat">
							<div class="lFloat" v-for="(item,index) in hotGoodsCat">
								<li @click="showHotGoods(item.id)">{{item.catName}}</li>
								<span class="line" v-if="index!=hotGoodsCat.length-1"></span>
							</div>
						</div>
					</div>
					<ul class="hotSellersPic clearfix">
						<li v-for="item in hotGoods">
							<img :src="item.img_url" />
							<p class="name">{{item.goods_name}}</p>
							<p class="money">¥ {{item.goods_price}}</p>
						</li>
					</ul>
				</div>

				<!--优品宅配-->
				<div class="distribution">
					<div class="recommendHeadlines">
						<span class="lLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
						<h2>优品宅配</h2>
						<span class="rLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
						<p class="subtitle">OPTIMAI PRODUCT HOME DELIVERY</p>
					</div>
					<div class="content clearfix">
						<ul class="lFloat contentTop">
							<li v-for="(item,index) in ypzpGoodsList" v-if="index<2">
								<a href="#">
									<img :src="item.picture" />
									<span class="name">{{item.title}}</span>
									<span class="money">¥ {{item.price}}</span>
								</a>
							</li>
						</ul>
						<div class="receiveProgramme rFloat">
							<p class="title">领取免费装修方案</p>
							<div class="line">
								<div class="clearfix">
									<p class="lFloat lineP">
										<span class="red lFloat"></span>
										<span class="gray lFloat"></span>
									</p>
									<button class="lFloat" @click="receivePlan(true,0)">领取</button>
								</div>
								<p class="text">一房两厅小户型装修方案</p>
							</div>

							<div class="line">
								<div class="clearfix">
									<p class="lFloat lineP">
										<span class="red lFloat"></span>
										<span class="gray lFloat"></span>
									</p>
									<button class="lFloat">领取</button>
								</div>
								<p class="text">一房两厅小户型装修方案</p>
							</div>

							<div class="line">
								<div class="clearfix">
									<p class="lFloat lineP">
										<span class="red lFloat"></span>
										<span class="gray lFloat"></span>
									</p>
									<button class="lFloat">领取</button>
								</div>
								<p class="text">一房两厅小户型装修方案</p>
							</div>

							<div class="line">
								<div class="clearfix">
									<p class="lFloat lineP">
										<span class="red lFloat"></span>
										<span class="gray lFloat"></span>
									</p>
									<button class="lFloat">领取</button>
								</div>
								<p class="text">一房两厅小户型装修方案</p>
							</div>
						</div>

						<ul class="contentBottom">
							<li v-for="(item,index) in ypzpGoodsList" v-if="index>1&&index<4">
								<a href="#">
									<img :src="item.pictiure" />
									<span class="name">{{item.title}}</span>
									<span class="money">¥ {{item.price}}</span>
								</a>
							</li>
							
							<!--最后一个不能有右边距-->
							<li style="margin-right: 0;" v-for="(item,index) in ypzpGoodsList" v-if="index==4">
								<a href="#">
									<img :src="item.pictiure" />
									<span class="name">{{item.title}}</span>
									<span class="money">¥ {{item.price}}</span>
								</a>
							</li>
						</ul>
					</div>

					<a href="ypzp.html" class="seeMoreGoods">查看更多</a>
				</div>

				<!--优品套餐-->
				<div class="packageProgramme">
					<div class="recommendHeadlines">
						<span class="lLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
						<h2>优品惠</h2>
						<span class="rLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
						<p class="subtitle">MEAI PLAN</p>
					</div>
					<div class="content">
						<ul class="clearfix">
							<div v-for="(item,index) in tcGoodsList">
								<li v-if="index!=2&&index!=5">
									<a href="#">
										<img :src="item.taocan_img" />
										<span class="text">{{item.title}}</span><br />
										<span class="msg">{{item.desc}}</span><br />
										<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">{{item.price}}</span>/<span style="font-size: 1.066666rem;">套</span></span>
									</a>
								</li>
	
								<li style="margin-right: 0;" v-if="index==2||index==5">
									<a href="#">
										<img :src="item.taocan_img" />
										<span class="text">{{item.title}}</span><br />
										<span class="msg">{{item.desc}}</span><br />
										<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">{{item.price}}</span>/<span style="font-size: 1.066666rem;">套</span></span>
									</a>
								</li>
							</div>
						</ul>
					</div>
					<a href="yptc.html" class="seeMoreGoods">查看更多</a>
				</div>

				<!--筑家生活家-->
				<div class="buildHome">
					<div class="recommendHeadlines">
						<span class="lLine"></span>
						<h2>筑家生活家</h2>
						<span class="rLine"></span>
						<p class="subtitle">BUILD A HOME</p>
					</div>

					<ul class="clearfix">
						<div v-for="(item,index) in zjLifeList">
							<li v-if="index!=2&&index!=5">
								<img :src="item.bg_image" class="furniturePic" />
								<img :src="item.head_p" class="personPic" />
								<p>
									<span class="name">{{item.aboutme}}</span><br />
									<img src="images/position.png" /><span class="position">{{item.province}}{{item.city}}</span>
								</p>
							</li>
	
							<li style="margin-right: 0;" v-if="index==2||index==5">
								<img :src="item.bg_image" class="furniturePic" />
								<img :src="item.head_p" class="personPic" />
								<p>
									<span class="name">{{item.aboutme}}</span><br />
									<img src="images/position.png" /><span class="position">{{item.province}}{{item.city}}</span>
								</p>
							</li>
						</div>
					</ul>
					<a href="zjshj.html" class="seeMoreGoods">查看更多</button>
				</div>

				<!--领取免费方案弹框-->
				<div class="informationBox freeDecorationPlan" v-if="freeDecorationPlan">
					<p class="title clearfix">
						<span class="lFloat">领取免费装修方案</span>
						<img src="images/close_del_box.png" class="rFloat" @click="receivePlan(false,0)" />
					</p>
					<p class="name">
						筑家优品领取免费装修方案
					</p>
					<div class="formWrap">
						<form action="" method="post">
							<input type="text" placeholder="请输入您的姓名" v-model="freeName" />
							<input type="text" placeholder="请输入您的手机号码" v-model="freePhone" />
						</form>
						<button @click="receivePlan(true,1)">立即领取</button>
					</div>
				</div>
				
				<div class="mask" v-if="freeDecorationPlan"></div>
			</div>

			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>