<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>个人中心</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/personCenter.css" />
		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>

		<div class="loginWrap">
			<div class="loginMain">
				<header class="loginHeadWrap toPage">
					<div class="loginHead">
						<a :href="toPagesArr.index">
							<img src="images/logo.png" class="logo" />
						</a>
						<h2>个人中心</h2>
					</div>
				</header>

				<div class="content clearfix">
					<div class="lFloat lList">
						<ul>
							<li>
								<a href="personalData.html">
									<img src="images/eg.jpg" />
									<p>超级买买买</p>
								</a>
							</li>
							<li><img src="images/myOrder_2.png" />
								<a href="#" style="color: #cd2f1d;">我的订单</a>
							</li>
							<li>
								<a href="shoppingCart.html"><img src="images/shoppingCart_1.png" />我的购物车</a>
							</li>
							<li><img src="images/collectAddress_1.png" />
								<a href="receivingAddress.html">收货地址</a>
							</li>
						</ul>
					</div>
					<div class="lFloat rBox">
						<p class="title">
							<span v-if="!allOrder" @click="orderStatusClick(1)">全部订单</span>
							<span style="color: #cd2f1d;" v-if="allOrder">全部订单</span>
							<span v-if="!waitPay" @click="orderStatusClick(2)">待付款</span>
							<span style="color: #cd2f1d;" v-if="waitPay">待付款</span>
							<span v-if="!alreadyPay" @click="orderStatusClick(3)">待发货</span>
							<span style="color: #cd2f1d;" v-if="alreadyPay">待发货</span>
							<span v-if="!waitTakeGoods" @click="orderStatusClick(4)">待收货</span>
							<span style="color: #cd2f1d;" v-if="waitTakeGoods">待收货</span>
							<span v-if="!waitAssess" @click="orderStatusClick(5)">已收货</span>
							<span style="color: #cd2f1d;" v-if="waitAssess">已收货</span>
							<span v-if="!cancelSuccess" @click="orderStatusClick(6)">已取消</span>
							<span style="color: #cd2f1d;" v-if="cancelSuccess">已取消</span>
						</p>
						<ul class="subTitle clearfix">
							<li>订单详情</li>
							<li>单价</li>
							<li>数量</li>
							<li>金额</li>
							<li>交易状态</li>
							<li>操作</li>
						</ul>

						<div class="orderBoxWrap">
							<div class="orderBox" v-for="item in orderList">
								<div class="title">
									<span class="time">{{item.createTime|dateFormat}}</span>
									<span>订单号：{{item.parentOrderId}}</span>
									<img src="images/delete.png" class="rFloat" @click="delBoxAlert(true,item.parentOrderId)" />
								</div>

								<div class="orderDetail clearfix" v-if="item.status=='1'||item.status=='2'||item.status=='5'||item.status=='6'">
									<div class="lConts lFloat">
										<div class="lFloat lCont" v-if="index!=item.data.length-1" v-for="(goods,index) in item.data" :data-itemid="goods.orderDetail.itemId" :data-num="goods.orderDetail.itemNum" :data-type="goods.orderDetail.type" style="border-bottom: 0.066666rem solid #E6E6E6;">
											<img :src="goods.orderDetail.data.original_img" class="goodsPic lFloat" />
											<div class="lFloat attrs">
												<p class="name">{{goods.orderDetail.data.goods_name}}</p>
												<p class="attr" v-for="attr in goods.orderDetail.attr">{{attr.attrName}}：{{attr.attrValue}}</p>
											</div>
											<p class="lFloat price">¥{{goods.orderDetail.data.price}}</p>
											<p class="lFloat num">{{goods.orderDetail.itemNum}}</p>
										</div>
										
										<div class="lFloat lCont" v-if="index==item.data.length-1" v-for="(goods,index) in item.data" :data-itemid="goods.orderDetail.itemId" :data-num="goods.orderDetail.itemNum" :data-type="goods.orderDetail.type">
											<div class="lFloat" style="border-bottom: none;" @click="toGoodsDetail(goods.orderDetail.data.goods_id)">
												<img :src="goods.orderDetail.data.original_img" class="goodsPic lFloat" />
												<div class="lFloat attrs">
													<p class="name">{{goods.orderDetail.data.goods_name}}</p>
													<p class="attr" v-for="attr in goods.orderDetail.data.attr">{{attr.attrName}}：{{attr.attrValue}}</p>
												</div>
												<p class="lFloat price">¥{{goods.orderDetail.data.price}}</p>
												<p class="lFloat num">{{goods.orderDetail.itemNum}}</p>
											</div>
										</div>
									</div>
									<div class="lFloat rCont clearfix">
										<p class="totalPrice lFloat">¥ {{item.payMent}}</p>
										<p class="status lFloat">
											<span v-if="item.status=='1'">待付款</span>
											<span v-if="item.status=='2'">待发货</span>
											<span v-if="item.status=='3'">待收货</span>
											<span v-if="item.status=='5'">取消成功</span>
											<span v-if="item.status=='6'">取消失败</span>
											<span @click="orderDetailFn(item.parentOrderId)" style="cursor: pointer;">订单详情</span>
										</p>
										<div class="lFloat operation">
											<span class="cancleOrder" @click="openCancleBox(item.parentOrderId)" v-if="item.status=='1'||item.status=='2'">取消订单</span>
											<button class="payMoney" v-if="item.status=='1'" @click="paymentFn(item.parentOrderId)">付款</button>
											<button class="buyNow" v-if="item.status=='5'" @click="againShopping($event)">再次购买</button>
										</div>
									</div>
								</div>
								
								<!--订单完成时以这种方式展示-->
								<div class="orderSuccWrap" v-if="item.status=='4'||item.status=='3'">
									<div class="goodsLine clearfix" v-for="(g,index) in item.data" style="border-bottom: 0.066666rem solid #E6E6E6;" v-if="index!=item.data.length-1">
										<div class="introduce lFloat">
											<img :src="g.orderDetail.data.original_img" class="goodsPic lFloat" />
											<div class="lFloat attrs">
												<p class="name">{{g.orderDetail.data.goods_name}}</p>
												<p class="attr" v-for="a in g.orderDetail.attr">{{a.attrName}}：{{a.attrValue}}</p>
											</div>
										</div>
										<p class="lFloat price">¥{{g.orderDetail.data.price|money}}</p>
										<p class="lFloat num">{{g.orderDetail.itemNum}}</p>
										<div class="totalPrice lFloat" style="border-left: 0.066666rem solid #E6E6E6;">¥{{g.orderDetail.itemNum*g.orderDetail.data.price|money}}</div>
										<p class="status lFloat">
											<span v-if="item.status=='4'">已完成</span>
											<span @click="orderDetailFn(g.orderId)" style="cursor: pointer;">订单详情</span>
										</p>
										<div class="lFloat operation">
											<a href="appendComment.html" class="appendComment" v-if="item.status=='4'">立即评论</a>
											<a href="applyAfterSale.html" class="applyAfterSale" v-if="item.status=='4'">申请售后</span>
										</div>
									</div>
									
									<div class="goodsLine clearfix" v-for="(g,index) in item.data" v-if="index==item.data.length-1">
										<div class="introduce lFloat">
											<img :src="g.orderDetail.data.original_img" class="goodsPic lFloat" />
											<div class="lFloat attrs">
												<p class="name">{{g.orderDetail.data.goods_name}}</p>
												<p class="attr" v-for="a in g.orderDetail.attr">{{a.attrName}}：{{a.attrValue}}</p>
											</div>
										</div>
										<p class="lFloat price">¥{{g.orderDetail.data.price|money}}</p>
										<p class="lFloat num">{{g.orderDetail.itemNum}}</p>
										<div class="totalPrice lFloat" style="border-left: 0.066666rem solid #E6E6E6;">¥{{g.orderDetail.itemNum*g.orderDetail.data.price|money}}</div>
										<p class="status lFloat">
											<span v-if="item.status=='4'">已完成</span>
											<span @click="orderDetailFn(item.orderId)" style="cursor: pointer;">订单详情</span>
										</p>
										<div class="lFloat operation">
											<a href="appendComment.html" class="appendComment" v-if="item.status=='4'">立即评论</a>
											<a href="applyAfterSale.html" class="applyAfterSale" v-if="item.status=='4'">申请售后</span>
											<a href="#" class="payMoney" v-if="item.status=='3'" @click="confirmReceipt(g.orderId)">确认收货</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<%-include paging  %>
				</div>
			</div>

			<!--取消订单弹框-->
			<div class="cancleOrderAlert" v-if="cancleBox">
				<p>选择取消原因</p>
				<ul class="clearfix">
					<li>操作有误(商品/地址等选错)</li>
					<li style="margin-right: 0;">重复下单/误下单</li>
					<li>其他渠道价格更低</li>
					<li style="margin-right: 0;">该商品筑家优品降价了</li>
					<li>不想买了</li>
					<li style="margin-right: 0;">商品无货</li>
				</ul>
				<button @click="cancleOrderClick()">提交</button>
			</div>

			<!--取消订单成功弹框-->
			<div class="cancleOrderSuccessAlert" v-if="cancleSuccBox">
				<img src="images/close_del_box.png" class="rFloat" @click="cancleSuccBoxClick(false)" />
				<img src="images/cancleOrderSucc.png" />
				<p class="text_1">取消订单申请已提交，系统正在审核</p>
				<p class="text_2">请耐心等待，您可在订单详情中查看退款进度</p>
			</div>

			<!--删除收货人信息弹窗-->
			<div class="deleteBox" v-if="delBox">
				<p class="title clearfix">
					<span class="lFloat">删除提示</span>
					<img src="images/close_del_box.png" class="rFloat" @click="delBoxClick(false,0)" />
				</p>
				<p>
					<img src="images/del_icon.png" class="delIcon" /> 您确定要删除该订单吗？
				</p>
				<p>
					<button @click="delBoxClick(false,1)">确定</button>
					<button @click="delBoxClick(false,0)">取消</button>
				</p>
			</div>

			<div class="mask" v-if="cancleBox||delBox||cancleSuccBox" @click="maskClick()"></div>

			<%-include footer  %>
		</div>

		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/personCenter.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>