<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>配套方案</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/ptfa.css" />
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="ptfaWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="ptfaMain ptfaPage">
			<img src="../build/images/banner_1.png" class="banner"/>
			
			<nav class="secNavigator">
				<ul class="clearfix">
					<li class="allRoom" v-if="!allRoom" @click="allRoomClick()">
						<img src="../build/images/allRoom_1.png"/>
						<p>全部空间</p>
					</li>
					<li class="allRoom" style="border-color: #cd2f1d;" v-if="allRoom">
						<img src="../build/images/allRoom_2.png"/>
						<p style="color: #cd2f1d;">全部空间</p>
					</li>
					
					<li class="diningRoom" v-if="!diningRoom" @click="diningRoomClick()">
						<img src="../build/images/diningRoom_1.png"/>
						<p>客餐厅</p>
					</li>
					<li class="diningRoom" style="border-color: #cd2f1d;" v-if="diningRoom">
						<img src="../build/images/diningRoom_2.png"/>
						<p style="color: #cd2f1d;">客餐厅</p>
					</li>
					
					<li class="bedRoom" v-if="!bedRoom" @click="bedRoomClick()">
						<img src="../build/images/bedRoom_1.png"/>
						<p>卧房</p>
					</li>
					<li class="bedRoom" style="border-color: #cd2f1d;" v-if="bedRoom">
						<img src="../build/images/bedRoom_2.png"/>
						<p style="color: #cd2f1d;">卧房</p>
					</li>
					
					<li class="childrenRoom" v-if="!childrenRoom" @click="childrenRoomClick()">
						<img src="../build/images/childrenRoom_1.png"/>
						<p>儿童房</p>
					</li>
					<li class="childrenRoom" style="border-color: #cd2f1d;" v-if="childrenRoom">
						<img src="../build/images/childrenRoom_2.png"/>
						<p style="color: #cd2f1d;">儿童房</p>
					</li>
					
					<li class="studyRoom" style="margin-right: 0;" v-if="!studyRoom" @click="studyRoomClick()">
						<img src="../build/images/studyRoom_1.png"/>
						<p>书房</p>
					</li>
					<li class="studyRoom" style="margin-right: 0;border-color: #cd2f1d;" v-if="studyRoom">
						<img src="../build/images/studyRoom_2.png"/>
						<p style="color: #cd2f1d;">书房</p>
					</li>
				</ul>
			</nav>
			
			<div class="content">
				<ul class="clearfix">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="msg">沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)沙发(三人位+单人位+脚踏)+茶几+餐桌椅(1桌四椅)</span><br />
							<span class="money"><span style="font-size: 1.066666rem;">¥</span><span class="price">14186</span>/<span style="font-size: 1.066666rem;">套</span></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/ptfa.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>