<!--公共搜索-->
<div class="searchWrap">
	<div class="container clearfix">
		<a href="#"><img src="images/logo.png" class="logo lFloat"/></a>
		
		<button class="shoppingCart rFloat">我的购物车</button>
		<span class="shoppingNum">1</span>
		
		<p class="serarchBtn rFloat">
			<img src="../build/images/search.png"/>
		</p>
		
		<input type="text" placeholder="榻榻米" class="serchText rFloat" />
	</div>
</div>