<!--公共搜索-->
<div class="searchWrap">
	<div class="container clearfix">
		<a href="index.html"><img src="images/logo.png" class="logo lFloat"/></a>
		
		<a href="shoppingCart.html" class="shoppingCart rFloat" target="_blank">我的购物车</a>
		<span class="shoppingNum">1</span>
		
		<p class="serarchBtn rFloat">
			<img src="images/search.png"/>
		</p>
		
		<input type="text" placeholder="榻榻米" class="serchText rFloat" />
	</div>
</div>