<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>信息收集</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/xxsj.css" />
	</head>

	<body>
		<div class="zjypWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="yydzMain">
				<div class="choseTitle">
					<span>全屋定制</span>
					<img src="images/rightArrow.png"/>
					<span>预约定制</span>
				</div>

				<div class="formWrap">
					<p>预约定制</p>
					<div class="formBox">
						<form action="" method="post">
							<p>
								<i>*</i>
								<span>所在地区</span>
								<select name="">
									<option value=""></option>
								</select>
								<select name="">
									<option value=""></option>
								</select>
								<select name="" style="margin-right: 0;">
									<option value=""></option>
								</select>
							</p>
							<p>
								<i>*</i>
								<span>姓名</span>
								<input type="text" />
							</p>
							<p>
								<i>*</i>
								<span>手机号码</span>
								<input type="text" />
							</p>
							<p>
								<i>*</i>
								<span>详细地址</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>定制商品</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>风格</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>尺寸</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>材质</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>颜色</span>
								<input type="text" />
							</p>
							<p>
								<i style="opacity: 0;">*</i>
								<span>适用人群</span>
								<input type="text" />
							</p>
						</form>

						<p>
							<span></span>
							<button>提交</button>
						</p>
					</div>
				</div>
			</div>

			<%-include footer  %>
		</div>

		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/xxsj.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>