<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>优品宅配</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/ypzp.css"/>
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="ypzpWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="ypzpMain">
			<div class="banner">
				<img src="images/banner_1.png"/>
			</div>
			<!--卧室家具-->
			<div class="bedroomsFurniture">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>卧室家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">FURNITURE FOR BEDROOMS</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li v-for="(item,index) in bedRoomList" v-if="index<2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					 
					<li style="margin-right: 0;" v-for="(item,index) in bedRoomList" v-if="index==2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li v-for="(item,index) in bedRoomList" v-if="index>2&&index<6">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					
					<li v-for="(item,index) in bedRoomList" v-if="index==6" style="margin-right: 0;">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--客厅家具-->
			<div class="diningRoom">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>客厅家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">DINING ROOM FURNITURE</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li v-for="(item,index) in livingRoomList" v-if="index<2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					 
					<li style="margin-right: 0;" v-for="(item,index) in livingRoomList" v-if="index==2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li v-for="(item,index) in livingRoomList" v-if="index>2&&index<6">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					
					<li v-for="(item,index) in livingRoomList" v-if="index==6" style="margin-right: 0;">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--餐厅家具-->
			<div class="bedroomsFurniture">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>餐厅家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">FURNITURE FOR BEDROOMS</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li v-for="(item,index) in diningRoomList" v-if="index<2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					 
					<li style="margin-right: 0;" v-for="(item,index) in diningRoomList" v-if="index==2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li v-for="(item,index) in diningRoomList" v-if="index>2&&index<6">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					
					<li v-for="(item,index) in diningRoomList" v-if="index==6" style="margin-right: 0;">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--书房家具-->
			<div class="bedroomsFurniture">
				<div class="recommendHeadlines">
					<span class="lLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
					<h2>书房家具</h2>
					<span class="rLine" style="height: 0.066666rem;background: #E6E6E6;"></span>
					<p class="subtitle">FURNITURE FOR BEDROOMS</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li v-for="(item,index) in studyRoomList" v-if="index<2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					 
					<li style="margin-right: 0;" v-for="(item,index) in studyRoomList" v-if="index==2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li v-for="(item,index) in studyRoomList" v-if="index>2&&index<6">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					
					<li v-for="(item,index) in studyRoomList" v-if="index==6" style="margin-right: 0;">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--儿童房家具-->
			<div class="childrenRoomFurniture">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>儿童房家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">CHILDREN'S ROOM FURNITURE</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li v-for="(item,index) in childrenRoomList" v-if="index<2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					 
					<li style="margin-right: 0;" v-for="(item,index) in childrenRoomList" v-if="index==2">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li v-for="(item,index) in childrenRoomList" v-if="index>2&&index<6">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
					
					<li v-for="(item,index) in childrenRoomList" v-if="index==6" style="margin-right: 0;">
						<a href="#">
							<img :src="item.picture"/>
							<span class="text">{{item.title}}</span><br />
							<span class="money">¥ {{item.price}}</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/ypzp.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>