<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>优品宅配</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/ypzp.css"/>
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="ypzpWrap">
		<%-include header  %>
		<%-include search  %>
		<%-include navigation  %>
		
		<div class="ypzpMain">
			<div class="banner">
				<img src="../build/images/banner_1.png"/>
				<div class="searchWrap">
					<h3>一对一定制全屋设计</h3>
					<input type="text" placeholder="请输入您的姓名" class="username" />
					<input type="text" placeholder="请输入您的手机号码" class="phone" />
					<button>立即申请</button>
				</div>
				<div class="blackMask"></div>
			</div>
			
			<div class="egPicList">
				<img src="images/eg.jpg"/>
				<img src="images/eg.jpg"/>
				<img src="images/eg.jpg"/>
				<img src="images/eg.jpg"/>
				<img src="images/eg.jpg" style="margin-right: 0;"/>
			</div>
			
			<!--全屋定制-->
			<div class="houseCustomization">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>全屋定制</h2>
					<span class="rLine"></span>
					<p class="subtitle">WHOLE HOUSE CUSTOMIZATION</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--客餐厅家具-->
			<div class="diningRoom">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>客餐厅家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">DINING ROOM FURNITURE</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--卧室家具-->
			<div class="bedroomsFurniture">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>卧室家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">FURNITURE FOR BEDROOMS</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					 
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
			
			<!--儿童房家具-->
			<div class="childrenRoomFurniture">
				<div class="recommendHeadlines">
					<span class="lLine"></span>
					<h2>儿童房家具</h2>
					<span class="rLine"></span>
					<p class="subtitle">CHILDREN'S ROOM FURNITURE</p> 
				</div>
				
				<ul class="clearfix picTop">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				
				<ul class="clearfix picBottom">
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
					
					<li style="margin-right: 0;">
						<a href="#">
							<img src="../build/images/eg.jpg"/>
							<span class="text">小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )小户型次卧套餐/甜美浪漫，经济实惠( 4件套 )</span><br />
							<span class="money">¥ 12,774.00</span>
						</a>
					</li>
				</ul>
				<button class="seeMoreGoods">查看更多</button>
			</div>
		</div>
		
		<%-include footer  %>
	</div>
	
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/ypzp.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>