<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>筑家生活家</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/zjshjDetail.css" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=SxdEDHAF5Yuggm8toF68Cpj8NCU9OU5P"></script>
	</head>

	<body>
		<div class="zjypWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="zjshjDetailMain">
				<div class="choseTitle">
					<span>全屋定制</span>
					<img src="images/rightArrow.png" />
					<span>预约定制</span>
				</div>

				<div class="content clearfix">
					<div class="lFloat">
						<div class="shjMsg">
							<p class="title">生活家信息</p>
							<div class="user">
								<p>
									<img src="images/banner_3.png" />
									<span>{{lifeMsg.name}}</span>
								</p>
							</div>
							<div class="userMsg">
								<p class="clearfix">
									<span class="lFloat">年龄：</span>
									<span class="lFloat">{{lifeMsg.age}}</span>
								</p>
								<p>
									<span>从事行业：</span>
									<span>{{lifeMsg.industry}}</span>
								</p>
								<p style="margin-bottom: 0;">
									<span>关于我：</span>
									<span>{{lifeMsg.aboutme}}</span>
								</p>
							</div>
						</div>

						<div class="shjMsg houseMsg">
							<p class="title">房屋信息</p>
							<div class="map" id="allmap"></div>
							<div class="userMsg">
								<p class="clearfix">
									<span class="lFloat">所处位置：</span>
									<span class="lFloat">{{lifeMsg.address}}</span>
								</p>
								<p style="margin-bottom: 0;">
									<span>户型：</span>
									<span>{{lifeMsg.houseType}}</span>
								</p>
							</div>
						</div>
						
						<button>马上预约体验</button>
					</div>
					<div class="rFloat rContent">
						<div class="line">
							{{lifeMsg.content}}
						</div>
					</div>
				</div>
			</div>

			<%-include footer  %>
		</div>

		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/zjshjDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>