<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>筑家生活家</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/zjshjDetail.css" />
	</head>

	<body>
		<div class="zjypWrap">
			<%-include header  %>
			<%-include search  %>
			<%-include navigation  %>

			<div class="zjshjDetailMain">
				<div class="choseTitle">
					<span>全屋定制</span>
					<img src="images/rightArrow.png" />
					<span>预约定制</span>
				</div>

				<div class="content clearfix">
					<div class="lFloat">
						<div class="shjMsg">
							<p class="title">生活家信息</p>
							<div class="user">
								<p>
									<img src="images/banner_3.png" />
									<span>七厘米蔚蓝</span>
								</p>
							</div>
							<div class="userMsg">
								<p class="clearfix">
									<span class="lFloat">年龄：</span>
									<span class="lFloat">商务助理</span>
								</p>
								<p>
									<span>从事行业：</span>
									<span>80后</span>
								</p>
								<p style="margin-bottom: 0;">
									<span>关于我：</span>
									<span>爱工作，更爱生活</span>
								</p>
							</div>
						</div>

						<div class="shjMsg houseMsg">
							<p class="title">房屋信息</p>
							<div class="map"></div>
							<div class="userMsg">
								<p class="clearfix">
									<span class="lFloat">所处位置：</span>
									<span class="lFloat">辽宁沈阳于洪区于洪广场黄海路45号</span>
								</p>
								<p style="margin-bottom: 0;">
									<span>户型：</span>
									<span>三室两厅(126平米)</span>
								</p>
							</div>
						</div>
						
						<button>马上预约体验</button>
					</div>
					<div class="rFloat rContent">
						<div class="line">
							<img src="images/banner_3.png"/>
							<p>燕麦片确实不错哦，打开箱子一看，包装很精致，刚饿了拿酸奶和宝贝一起冲开水，一碗都被我吃完，真的很好吃喜欢，料多，味道不错，热水一冲就可以吃了，好多果肉呀，看着很有食欲，牛奶泡着吃味道最佳，喜欢甜一点的可以加白砂糖、冰糖的，每天当早餐吃，营养美味，哈哈，发货和物流速度也很快的，买后的第三天就收到宝贝了，非常满意！</p>
						</div>
						
						<div class="line">
							<img src="images/banner_3.png"/>
							<p>燕麦片确实不错哦，打开箱子一看，包装很精致，刚饿了拿酸奶和宝贝一起冲开水，一碗都被我吃完，真的很好吃喜欢，料多，味道不错，热水一冲就可以吃了，好多果肉呀，看着很有食欲，牛奶泡着吃味道最佳，喜欢甜一点的可以加白砂糖、冰糖的，每天当早餐吃，营养美味，哈哈，发货和物流速度也很快的，买后的第三天就收到宝贝了，非常满意！</p>
						</div>
						
						<div class="line">
							<img src="images/banner_3.png"/>
							<p>燕麦片确实不错哦，打开箱子一看，包装很精致，刚饿了拿酸奶和宝贝一起冲开水，一碗都被我吃完，真的很好吃喜欢，料多，味道不错，热水一冲就可以吃了，好多果肉呀，看着很有食欲，牛奶泡着吃味道最佳，喜欢甜一点的可以加白砂糖、冰糖的，每天当早餐吃，营养美味，哈哈，发货和物流速度也很快的，买后的第三天就收到宝贝了，非常满意！</p>
						</div>
					</div>
				</div>
			</div>

			<%-include footer  %>
		</div>

		<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/lib/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/zjshjDetail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>